html
  scrollbar-gutter: stable
  
body
  display: flex
  flex-direction: column
  min-height: 100vh
  margin: 0
  box-sizing: border-box
  -webkit-text-size-adjust: 100%

body > header, body > footer
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  row-gap: 0

body > header
  position: sticky
  top: 0
  z-index: 100
  background-color: rgba(255, 255, 255, 0.8)  // white, 70% opaque
  backdrop-filter: blur(20px)
  -webkit-backdrop-filter: blur(12px)  // Safari support

header a, footer a
  display: inline-block

footer a
  margin: .75em 0

nav
  margin: .5em -1.3em
  a
    margin: 0 1.3em
  svg
    font-size: 1.3em
    vertical-align: sub

main nav
  font-size: 1.1em
  margin: 1.4em 0
  div
    margin: .5em 0

main nav.notes-list a
  font-size: 1.3em

main nav.projects-list a
  font-size: 1.3em
  
header h1
  font-size: 1.75em
  margin: 0
  body > &
    font-size: 1.35em

article, main
  flex-grow: 1

