---
---

@import utils, basic, layout, classes, rouge_github

body > *
  padding: 0.5em calc(37% - 18rem)
  padding: clamp(0.5em, 4vw, 0.5em) max(0.5em, calc(37% - 18rem))
  box-shadow: 0 1px 0 0 gray(15)
